@model QuotesSearchViewModel
@{
    ViewBag.Title = "My Quotes";
}
<div data-bind="visible : MainView">

    <div class="ui grid">
        <div class="six wide column">
            <h2 class="ui header">My Quotes</h2>
            <span class="text-muted">You can manage your quotes here</span>
        </div>
        <div class="middle aligned ten wide column">
            @{
                Html.RenderPartial("_SearchBox");
            }
        </div>
    </div>
    <br />
    <br />
    <div class="highlighted">
        <div class="ui grid">
            <div class="eight wide column">
                @{
                    Html.RenderPartial("_SortInput");
                }
            </div>
        </div>
    </div>
    <br />
    <div class="ui secondary pointing menu">
        @Html.ActionLink("Current", "MyQuotes", new { Status = "opening" }, new { @class = Model.Status.Equals("opening") ? "active item" : "item" })
        @Html.ActionLink("Accepted", "MyQuotes", new { Status = "accepted" }, new { @class = Model.Status.Equals("accepted") ? "active item" : "item" })
        @Html.ActionLink("Declined", "MyQuotes", new { Status = "unsuccessful" }, new { @class = Model.Status.Equals("unsuccessful") ? "active item" : "item" })

    </div>
 

    <table class="ui single line table" style="border : none">
        <thead>
            <tr>
                <th style="background : none"><h5 class="ui teal header">Location</h5></th>
                <th style="background : none"><h5 class="ui teal header">Quote Amount</h5></th>
                <th style="background : none"><h5 class="ui teal header">Job Description</h5></th>
                <th style="background : none"><h5 class="ui teal header">Notes</h5></th>
                <th style="background : none"><h5 class="ui teal header">Actions</h5></th>
            </tr>
        </thead>
        <tbody data-bind="foreach : Items">
            <tr>
                <td>
                    <h5 class="ui grey header" data-bind="text : StreetAddress" style="margin-bottom : 1px"></h5>
                    <h5 class="ui grey header" data-bind="text : CitySub" style="margin-top : 0px; margin-bottom : 5px"></h5>
                </td>
                <td>
                    <span>$</span><span data-bind="numeric : Model.Amount"></span>
                </td>
                <td data-bind="text: JobDescription">
                    @*<h5 class="ui grey header" data-bind="text : StreetAddress" style="margin-bottom : 1px"></h5>*@
                </td>
                <td data-bind="text :  KeysUtils.getPartialText(Model.Note)"></td>
                <td style="vertical-align : middle">
                    <button class="ui mini basic teal button" data-bind="click:$root.ShowDetail">Details</button>
                    <button class="ui mini basic teal button" data-bind="click:$root.ShowEdit, visible : IsEditable()">Edit</button>
                    
                </td>
            </tr>

        </tbody>

    </table>


    @{
        Html.RenderPartial("_PagedItems");
    }
</div>

@*****************  Job Quote Delete Model  ************************@
<div data-bind="visible : DeleteView" style="display:none">
    <div class="container" data-bind="with : SelectedItem">
        <h3>Delete Job Quote</h3>
        <hr />
        <a class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</a>
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading">
                Are you sure you want to delete this Job Quote?
            </div>
            <div class="panel-body">
                <div class="row" style="line-height : 25px">
                    <div class="col-md-3" style="padding-right : 0px;"><strong>Location:</strong></div>
                    <div class="col-md-8">
                        <div data-bind="text: StreetAddress"></div>
                        <div data-bind="text: CitySub"></div>
                    </div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-3" style="padding-right : 0px;"><strong>Quote Amount:</strong></div>
                    <div class="col-md-8">$<span data-bind="text: Model.Amount"></span></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-3" style="padding-right : 0px;"><strong>Job Description:</strong></div>
                    <div class="col-md-8"><span data-bind="text: JobDescription"></span></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-3" style="padding-right : 0px;"><strong>Note:</strong></div>
                    <div class="col-md-8"><span data-bind="text: Model.Note"></span></div>
                </div>
                <div class="row" style="line-height : 25px">
                    <div class="col-md-3" style="padding-right : 0px;"><strong>Quote Status:</strong></div>
                    <div class="col-md-8"><span data-bind="text: Status"></span></div>
                </div>
                <div class="prop-actions">
                    <button type="button" class="btn btn-success" data-bind="click: $root.Delete">Confirm</button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.ShowMain">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*****************  Job Quote Details Modal  ************************@
<div data-bind="visible : DetailView" style="display:none">
    <div class="container" data-bind="with : SelectedItem()">
        <h3>Job Quote's Details</h3>
        <hr />
        <a class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</a>
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <span> Job Quote</span>
            </div>
            <div class="panel-body">
                <div class="row" style="line-height: 25px">
                    <div class="col-md-6">
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right : 0px;"><strong>Location:</strong></div>
                            <div class="col-md-8">
                                <div data-bind="text: StreetAddress"></div>
                                <div data-bind="text: CitySub"></div>
                            </div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right : 0px;"><strong>Quote Amount:</strong></div>
                            <div class="col-md-8">$<span data-bind="text: Model.Amount"></span></div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right : 0px;"><strong>Job Description:</strong></div>
                            <div class="col-md-8"><span data-bind="text: JobDescription"></span></div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right : 0px;"><strong>Note:</strong></div>
                            <div class="col-md-8"><span data-bind="text: Model.Note"></span></div>
                        </div>
                        <div class="row" style="line-height : 25px">
                            <div class="col-md-4" style="padding-right : 0px;"><strong>Quote Status:</strong></div>
                            <div class="col-md-8"><span data-bind="text: Status"></span></div>
                        </div>
                        <div class="row" style="line-height:25px">
                            <div class="col-md-4" style="padding-right:0px;"><strong>Documents:</strong></div>

                            <div class="col-md-8" data-bind="foreach: DocFiles()">
                                <!--<span data-bind="visible : MediaType == 2">-->
                                    <a data-bind="attr: {href :Data}"><span data-bind=text:OldFileName></span></a>

                                <!--</span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" style="margin-top: 0px">
                        @Html.Partial("_DetailViewImg")
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</div>

<div data-bind="visible : EditView" style="display:none">
    <div class="row">
        <div style="width : 80%; margin : auto">
            <h3>Edit Job Quote</h3>
            <hr />
            <button class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</button>
            <br /><br />
        </div>
    </div>
    <div class="row" data-bind="with:SelectedItemCopy" style="padding-bottom: 100px">
        <form class="step-form">
            <fieldset id="jobquote-details">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Address</label>
                            <span data-bind="text:PropertyAddress"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Note <span style="color:red;">*</span></label>
                            <textarea class="form-control" data-bind="value: Model.Note,valueUpdate:'afterkeydown'" id="note" style="border-radius:0px; padding-left:8px" maxlength="500" rows="6" cols="70"></textarea>
                            <p class="text-muted" style="font-size:11px; text-align : left">Maximum of 500 characters</p>
                        </div>
                        @Html.Partial("_MediaInput")
                        <div class="form-group">
                            <p class="text-muted" style="font-size:11px; text-align : left">You may upload up to 5 files. Max size is 2 MB each and supported file types are *.jpg, *.jpeg, *.png, *.gif, *.doc, *.pdf </p>
                        </div>

                        <!--bottom control buttons :  SAVE AND CANCEL-->
                        <div class="col-sm-12 text-center" style="padding-bottom: 30px">
                            <button id="saveButton" class="btn btn-primary" data-bind="click: $root.Edit, enable : IsValid">Save</button>
                            <button class="btn btn-danger" data-bind="click:$root.ShowMain">Cancel</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
@Html.AntiForgeryToken()
@section Modal{
    @{
        Html.RenderPartial("_SearchResultModal");
    }
}
@Html.AntiForgeryToken()
<script src="~/Scripts/Companies/Manage/MyQuotes.js"></script>
<script>
    function PageViewModel(dataVm, dic) {
        var token = $("input[name = '__RequestVerificationToken']").val();
        var self = this;
        self.ExtendDic = dic;
        for (var key in dataVm) {
            self[key] = dataVm[key]
        }
        self.Items().forEach(function (item) {
            KeysUtils.injectExtends(item.Model, self.ExtendDic);
            KeysUtils.injectViewProps(item);
            item.IsEditable = function () {
                return item.Status() != 'accepted' && item.Status() != 'unsuccessful';
            }
        });
        KeysUtils.injectOpProps(self);
    }
    $(document).ready(function () {
        $("#NoRecord").modal("show");
        var dataVm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
        var vm = new PageViewModel(dataVm, KeysExtendsDic.EditQuote);
        ko.applyBindings(vm);
    });
</script>