@{
    Layout = null;
}
<head>
    <title>Tenant Onboarding</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF1Nus-BmJkWyNInNx1Re0sqBa_CKuL_o&libraries=places"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/onboarding.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/globals")
    @Scripts.Render("~/bundles/notification")
    @Styles.Render("~/notification/css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/css/bootstrap-datepicker.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/Content/semantic.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <br />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "msform" }))
    {
        @Html.AntiForgeryToken()
    <fieldset id="tenant-details" style="grid-auto-columns:auto">
        <!-- This is where you will create the heading, sub heading and the buttons for the tenant onboarding page -->
        <h2 class="fs-title">Tenant Details</h2>
        <h3 class="fs-subtitle">Please fill out your details</h3>

        @Html.Partial("_TenantDetails")

        <input id="Save" value="Save" onclick="disableSaveButton()" type="button" class="ui teal button" data-bind="click: SaveInfo, enable: IsValid" />
        <input id="skipOnboarding" class="ui button" type="button" name="skip" value="Skip" onclick="location.href='/Home/Dashboard'" />

    </fieldset>
    }
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/PropertyOwners/Home/Onboarding.js"></script>
    <script src="~/Scripts/Tenants/TenantDetails.js"></script>
    <script>
        $(document).ready(function () {
        });
    </script>
</body>


