@model KeysPlus.Service.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangePassword";
}
@*<style>
    #main
    {
        overflow: hidden !important;
    }
</style>*@
<div class="col-md-offset-2 col-md-7">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "ChangePasswordForm" }))
        {
            <h3>Change Password</h3>
            <hr />
            <p>
                New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
                characters in length.
            </p>
            <div class="form-group">
                
                @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(m => m.OldPassword, new { @id = "OldPasswordTxt", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(m => m.NewPassword, new { @id = "NewPasswordTxt", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "ConfirmPasswordTxt", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <input type="submit" id="submitButton" value="Change Password" class="btn btn-success" />
                    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index","Home")';" class="btn btn-danger" />
                </div>
            </div>

        }
</div>

