@model KeysPlus.Service.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgotten Password?";
}



@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "forgot_password" }))
{
    @Html.AntiForgeryToken()

    <div class="login-page authentication">
        <div class="container form-container">

            <div class="card">
                <h2>@ViewBag.Title</h2>
                <h3 class="title"><span>Please enter your email address or phone number to search for your account</span></h3>

                <div class="col-md-12">

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="input-group">
                        <span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })


                        </div>
                    </div>
                    <br />
                    <div class="input-group">
                        <div class="col-md-offset-2 col-md-12">

                            <button class="btn btn-raised waves-effect btn-success" type="submit">SEND RESET LINK</button>
                        </div>

                    </div>
                </div>
                <h3> @TempData["ErrorMessage"] </h3> <br />
            </div>
            
        </div>

        </div>


        
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script type="text/javascript">
                console.log($('forgot_password').serializeArray());
            </script>
        }








