@model KeysPlus.Service.Models.PODashBoardModel
<h3 class="ui header">Property Owner Dashboard</h3>
<div class="ui divider"></div>
<div class="ui grid">
    <div class="three column row" style="margin : 0px !important">
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="These handy buttons are for quick access to major functionalities.">
                <div class="ui green segment"><h4 class="ui header">Quick Buttons</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="ui secondary vertical menu" style="margin-top: 0px;width: 100%;">
                        <!--My Properties Button-->
                        <a class="item" style="height : 50%" href='@Url.Action("Index", "Home", new { area = "PropertyOwners" })'>
                            <i class="ui grey home icon" style="float : left !important"></i>
                            <h5 class="ui header" style="display : inline"> &nbsp; &nbsp;My Properties</h5>
                        </a>
                        <!--Financial Details Button-->
                        <a class="item" style="height : 50%" href='@Url.Action("FinanceDetails", "Home", new { area = "PropertyOwners" })'>
                            <i class="ui grey dollar sign icon" style="float : left !important"></i>
                            <h5 class="ui header" style="display : inline"> &nbsp; &nbsp;Financial Details</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--Property Summary Display-->
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="Summary of your properties.">
                <div class="ui green segment"><h4 class="ui header">Properties</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="row" style="height : 100%; display: flex;align-items: center;">
                        <div class="col-md-7 no-padding-side">
                            <canvas id="prop-chart" height="200"></canvas>
                        </div>
                        <div class="col-md-5 no-padding-side">
                            <div class="chart-legends" id="prop-chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Rental Application Summary Display-->
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="Summary of rental applications that you have recieved.">
                <div class="ui green segment"><h4 class="ui header">Rental Applications</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="row" style="height : 100%; display: flex;align-items: center;">
                        <div class="col-md-7 no-padding-side">
                            <canvas id="rentApp-chart" height="200"></canvas>
                        </div>
                        <div class="col-md-5 no-padding-side">
                            <div class="chart-legends" id="rentApp-chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Maintainance Jobs Summary Display-->
    <div class="three column row" style="margin : 0px !important">
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="Summary of maintainance jobs that you have.">
                <div class="ui green segment"><h4 class="ui header">Maintainance Jobs</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="row" style="height : 100%; display: flex;align-items: center;">
                        <div class="col-md-7 no-padding-side">
                            <canvas id="jobs-chart" height="200"></canvas>
                        </div>
                        <div class="col-md-5 no-padding-side">
                            <div class="chart-legends" id="jobs-chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Tenant Request Summary Display-->
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="Summary of the tenant requests you have recieved.">
                <div class="ui green segment"><h4 class="ui header">Tenant Requests</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="row" style="height : 100%; display: flex;align-items: center;">
                        <div class="col-md-7 no-padding-side">
                            <canvas id="tenant-request-chart" height="200"></canvas>
                        </div>
                        <div class="col-md-5 no-padding-side">
                            <div class="chart-legends" id="tenant-request-chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Job Quote Summary Display-->
        <div class="column">
            <div class="ui segments" data-step="@(++Model.IntroSteps)" data-intro="Summary of job quotes that you have recieved.">
                <div class="ui green segment"><h4 class="ui header">Quotes</h4></div>
                <div class="ui segment" style="height : 190px">
                    <div class="row" style="height : 100%; display: flex;align-items: center;">
                        <div class="col-md-7 no-padding-side">
                            <canvas id="quotes-chart" height="200"></canvas>
                        </div>
                        <div class="col-md-5 no-padding-side">
                            <div class="chart-legends" id="quotes-chart-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/chartjs/PODashboardChart.js"></script>
<script>
    $(document).ready(function () {
        var PODashBoardData = @Html.Raw(Json.Encode(Model));
        var dashBoard = new PODashBoard(PODashBoardData);
        var rental = new Rentals(PODashBoardData);
        ko.applyBindings(rental);
    });
</script>
