@model RentalAdvancedSearchViewModel

@{
    ViewBag.Title = "AdvanceSearchResult";
}
<div id="mainPage" data-bind="visible:MainView">
    <div class="block-header">
        <h3>Properties For Rent</h3>
        <span class="text-muted" style="font-size:12px;">You can search for rental properties here</span>
    </div>

    <hr />
    <!--for search box-->

    <div class="row">
        <div class="col-md-8">
            @{
                Html.RenderPartial("_SearchBoxHalf");
            }
        </div>
        <div class="col-md-4 pull-right" style="height:38px; line-height:38px">
            <div class="row">

                <div class="col-md-8 pull-right" data-bind="template :{name: 'fiter-select'}">
                </div>
                <span style="float:right">Sort By:</span>
            </div>
        </div>
    </div>
    <br />
    <div class="wrapper">
        <div class="sidebar-wrapper" style="position: absolute;
            left: 165px;top: 300px;bottom: 0;width: 250px;">
            @using (Html.BeginForm())
            {
                <fieldset>
                    <div id="sidebarBinding">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <h3>Regions</h3>
                                    @Html.DropDownListFor(model => model.Address.Region, new SelectList(new string[] { }), new { data_bind = " options: firstValues, value: selectedFirstOption", style = "width:175px" })
                                    <h3>Districts</h3>
                                    @Html.DropDownListFor(model => model.Address.District, new SelectList(new string[] { }), new { data_bind = " options: secondValues, value: selectedSecondOption", style = "width:175px" })
                                    <h3>Suburbs</h3>
                                    @Html.DropDownListFor(model => model.Address.SuburbList, new SelectList(new string[] { }), new { data_bind = " options: thirdValues, value: selectedThirdOption,selectedOptions: chosenSuburbs", style = "width:175px", multiple = "true" })
                                </div>

                            </div>
                        </div>


                    </div>

                    <div>
                        <h3>Bedrooms</h3>
                        @Html.DropDownListFor(model => model.BedroomMin, new SelectList(new string[] { "1", "2", "3", "4", "5", "6" }), "Any")
                        <span class="to">to</span>
                        @Html.DropDownListFor(model => model.BedroomMax, new SelectList(new string[] { "1", "2", "3", "4", "5", "6" }), "Any")
                    </div>

                    <div>
                        <h3>Bathrooms</h3>
                        @Html.DropDownListFor(model => model.BathroomMin, new SelectList(new string[] { "1", "2", "3", "4", "5", "6" }), "Any")
                        <span class="to">to</span>
                        @Html.DropDownListFor(model => model.BathroomMax, new SelectList(new string[] { "1", "2", "3", "4", "5", "6" }), "Any")
                    </div>

                    <div>
                        <h3>Rent per week</h3>
                        @Html.TextBoxFor(model => model.RentMin)
                        <span class="to">to</span>
                        @Html.TextBoxFor(model => model.RentMax)
                    </div>

                    <div>
                        <h3>Property Title or Keywords</h3>
                        @Html.TextBoxFor(model => model.Title)
                    </div>

                    <div>
                        <h3>Property Type</h3>
                        @*@Html.DropDownListFor(model => model.PropertyType, new SelectList(new string[] { "Affordable Housing", "Section & property", "Senior Housing",
                    "Vacation Property", "Hotel/Leisure", "Office"}), new { @multiple = "multiple", @class = "propertytype" })*@
                    @*@Html.DropDownListFor(model => model.PropertyType, new SelectList(ViewBag.TypeOfProperty, "Name", "Name"), new { @multiple = "multiple", @class = "propertytype", id = "propertyTypeDropdown" })*@
                        @Html.DropDownListFor(model => model.PropertyType, new SelectList(ViewBag.TypeOfProperty, "Name", "Name"), new { data_bind = " value: selectedPropertyTypes,selectedOptions: chosenPropertyTypes", style = "width:175px", multiple = "true" })
                    </div>

                    <div>
                        <h3>Land Area</h3>
                        @Html.DropDownListFor(model => model.LandSqmMin, new SelectList(new string[] { "400", "600", "1200", "1600", "2000", "2400" }), "Any")
                        <span class="to">to</span>
                        @Html.DropDownListFor(model => model.LandSqmMax, new SelectList(new string[] { "400", "600", "1200", "1600", "2000", "2400" }), "Any")
                    </div>


                    <br />
                    <div>
                        <button type="submit" class="btn btn-success" id="btnSearch">Search</button>
                        <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("AdvanceSearchResult")'">Reset</button>
                        <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("AdvancedSearch")'">Advanced Search</button>
                    </div>
                </fieldset>

            }
        </div>

        <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $('.propertytype').multiselect({
                    includeSelectAllOption: true,
                    nonSelectedText: 'All Property Type',
                    selectAllText: 'All Property Type'
                });
            });
        </script>
        <div class="content-wrapper" data-bind="foreach:Items" style="position: absolute;left: 350px;top: 300px; right: 150px;bottom: 300px;">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <!--<img class="img-responsive img-thumbnail" data-bind="attr: {src: FirstFoto().Data}" alt="firstImg" onerror="this.src='/images/no-prop-img.png'" />-->
                    <div data-bind="visible:RentalFiles().length>0">
                        <div class="carousel " data-ride="carousel" data-bind="attr :{id : 'carousel'+ Id()}"> 
                            <div class="carousel-inner" style="margin:auto" data-bind="foreach: RentalFiles">
                                <div class="item thumbnail" data-bind="css:{active: $index() == 0}">
                                    <img class="img-responsive" data-bind="attr: {src: Data}"
                                         onerror="this.src = '/images/no-prop-img.png'" alt="firstImg" style="width:100%; height: 250px;">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div data-bind="visible:RentalFiles().length<=0" class="thumbnail">
                        <img src="/images/no-prop-img.png" alt="noPropImg" style="width:100%; height: 250px;" />
                    </div>


                    <button class="btn btn-xs btn-default" data-bind="click : $root.AddToWatchList ,disable:WatchListText()=='Watching'"data-step="6" data-intro="Add to your watchlist.">
                        <i class="fa fa-plus-circle"></i> <span data-bind="text :WatchListText"></span>
                    </button>


                    <div class="caption">
                        <h4 data-bind="text : Title"></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <span data-bind="text:Bedrooms"></span>&nbsp;<i class="fa fa-bed"></i>
                                &nbsp;&nbsp;<span data-bind="text:Bathrooms"></span>&nbsp;<i class="fa fa-shower"></i>
                                &nbsp;&nbsp;<span data-bind="text:ParkingSpaces"></span>&nbsp;<i class="fa fa-car"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Id: </strong>
                            </div>
                            <div class="col-md-9">
                                # <span data-bind="text : Id"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Location: </strong>
                            </div>
                            <div class="col-md-9">
                                <div data-bind="text : StreetAddress"></div>
                                <div data-bind="text : CitySub"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Rent: </strong>
                            </div>
                            <div class="col-md-9">
                                $<span data-bind="numeric : TargetRent"></span>&nbsp;<span data-bind="text: RentType"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <strong>Available: </strong>
                            </div>
                            <div class="col-md-9">
                                <span data-bind="text : moment(AvailableDate()).format('ll')"></span>
                            </div>
                        </div>
                        <div class="row" style="margin-top : 15px">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-default" data-bind="click:$root.ShowDetails"><i class="zmdi zmdi-info"></i> Details</button>
                                    <!--Disable apply button if user is not a tenant-->
                                    <div data-bind="attr : {class : !$root.IsUserTenant() ? 'disable-tooltip inline' : 'inline'}">
                                        <button class="btn btn-success" data-bind="click:$root.ApplyRental, enable: $root.IsUserTenant"><i class="zmdi zmdi-file-add"></i> Apply</button>
                                        <span data-bind="ifnot:  $root.IsUserTenant">
                                            <span class="tooltiptext" style="background-color:wheat; color:black" @*data-bind="text: DisableMessage"*@> You are not a tenant please click this <a href='@Url.Action("AddRoleToLogin", "Account", new {Area = "", roleId =5 })'>link</a> to be a tenant</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{
            Html.RenderPartial("_PagedItems");
        }
        <hr />
    </div>

    
</div>

<div data-bind="visible:DetailView" style="display : none">
    <h3>Rental Listing Information </h3>
    <hr />
    <button class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</button>
    <br /><br />
    <div id="rentalPropertyDetails" data-bind="with:SelectedItem">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 100px;">
                <div class="panel panel-default">
                    <div class="panel-heading" style="position: relative;">
                        <span class="h3" data-bind="text: Title"></span><br />
                        <span class="text-muted">Listed : &nbsp;<span data-bind="text : moment(CreatedDate()).format('ll')" style="margin-top : 10px"></span></span>
                        <div class="col-md-1 no-padding-side" style="position: absolute; top: 50%; right : 0px; transform: translateY(-50%); float : right">
                            <div style="position: absolute; top: 0%; right : 100px;">
                                <div>
                                    <button class="btn btn-default" data-bind="click : $root.AddToWatchList,disable:WatchListText()=='Watching'" data-step="6" data-intro="Add to your watchlist.">
                                        <i class="fa fa-plus-circle"></i>   <span data-bind="text : WatchListText"></span>
                                    </button>
                                </div>
                            </div>
                            <!-- Disable apply button if user is not a tenant-->
                            <div class="disable-tooltip" style="padding-bottom: 20px">
                                <button class="btn btn-success" style="position: absolute;" data-bind="click:$root.ApplyRental, enable: $root.IsUserTenant"><span class="zmdi zmdi-file-add"></span> Apply</button>
                                <div style="position: absolute" data-bind="ifnot:  $root.IsUserTenant">
                                    <div class="tooltiptext" style="background-color:wheat; color:black"> You are not a tenant please click this <a href='@Url.Action("AddRoleToLogin", "Account", new {Area = "", roleId =5 })'>link</a> to be a tenant></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7" style="margin-top:10px;">
                                <!--details coloum-->
                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Location:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text: StreetAddress"></span>
                                        <span data-bind="text: CitySub"></span>
                                    </div>
                                </div>
                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Rent:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        $<span data-bind="numeric:TargetRent"></span>&nbsp;<span data-bind="text:RentalPaymentType"></span>
                                    </div>
                                </div>
                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Property Type:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:PropertyType"></span>
                                    </div>
                                </div>
                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Rooms:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:Bedrooms"></span>&nbsp;<i class="fa fa-bed"></i>
                                        &nbsp;&nbsp;<span data-bind="text:Bathrooms"></span>&nbsp;<i class="fa fa-shower"></i>
                                        &nbsp;&nbsp;<span data-bind="text:ParkingSpaces"></span>&nbsp;<i class="fa fa-car"></i>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Land Area:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="if:LandSqm">
                                            <span data-bind="text: LandSqm"></span>m<sup>2</sup>
                                        </span>
                                        <span data-bind="ifnot:LandSqm"> Not Available </span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Floor Area:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="if: FloorArea">
                                            <span data-bind="text: FloorArea"></span>m<sup>2</sup>
                                        </span>
                                        <span data-bind="ifnot: FloorArea"> Not Available </span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>No. of Occupants:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:OccupantCount"></span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Moving Cost:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        $<span data-bind="numeric:MovingCost"></span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Furnishing:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:Furnishing"></span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Pets Allowed:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:PetsAllowed"></span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Available Date:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text : moment(AvailableDate()).format('ll')"></span>
                                    </div>
                                </div>

                                <div class="row" style="line-height : 25px">
                                    <div class="col-md-4" style="padding-right : 0px;">
                                        <strong>Description:</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <span data-bind="text:RentalDescription" style="word-break: break-all;"></span>
                                    </div>
                                </div>
                                <br />
                            </div> <!--details coloum-->

                            <div class="col-md-5">
                                <!--photo coloum-->
                                <div data-bind="visible:RentalFiles().length>0">
                                    <div class="carousel " data-ride="carousel" data-bind="attr :{id : 'slide'+ Id()}">
                                        <div class="carousel-inner" style="margin:auto" data-bind="foreach: RentalFiles">
                                            <div class="item thumbnail" data-bind="css:{active: $index() == 0}">
                                                <img class="img-responsive" data-bind="attr: {src: Data}"
                                                     onerror="this.src = '/images/no-prop-img.png'" alt="firstImg" style="width:100%; height: 250px;">
                                            </div>
                                        </div>

                                        <a class="left carousel-control" data-slide="prev" data-bind="attr : {href : '#' + 'slide'+ Id()}">
                                            <span class="fa fa-2x fa-angle-left"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>

                                        <a class="right carousel-control" data-slide="next" data-bind="attr : {href : '#' + 'slide'+ Id()}">
                                            <span class="fa fa-2x fa-angle-right"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-bind="visible:RentalFiles().length<=0" class="thumbnail">
                                    <img src="/images/no-prop-img.png" alt="noPropImg" style="width:100%; height: 250px;" />
                                </div>
                            </div>
                        </div> <!--row -->
                    </div> <!--panel-body-->
                    <div class="panel-body" data-bind="visible : $root.HasMapData()">
                        <ul class="nav nav-tabs" role="tablist" style="margin-bottom : 10px">
                            <li role="presentation" class="active" data-bind="clickShowMap : Address"><a href="#map-location" aria-controls="home" role="tab" data-toggle="tab">Location</a></li>
                            <li role="presentation" data-bind="clickShowSchoolsNearBy : Address"><a aria-controls="profile" role="tab" data-toggle="tab">Schools near by</a></li>
                            <li role="presentation" data-bind="clickShowTransport : Address"><a aria-controls="profile" role="tab" data-toggle="tab">Transports near by</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="map-location">
                                <div id="map"></div>
                            </div>


                        </div>

                    </div>


                </div> <!--panel-primary-->
            </div> <!--coloumn-->
        </div> <!--row-->
    </div> <!--rentalPropertyDetails-->
</div>

<div data-bind="visible : ApplyView" style="display:none">
    <div class="row">
        <div style="width : 80%; margin : auto">
            <h3>Rental Application Form</h3>
            <hr />
            <button class="btn btn-info btn-sx" data-bind="click:$root.ShowMain"><span class="fa fa-arrow-left"></span> Back</button>
            <br /><br />
        </div>
    </div>
    <div class="row" style="padding-bottom: 100px;">
        <form class="step-form" style="margin-bottom:20px" data-bind="with:RentalApplication">
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Rental Information
                    </div>
                    <div class="panel-body" data-bind="with: $root.SelectedItem">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">Listing </label> <span data-bind="text : Title"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-top:5px;">
                                    <label class="control-label">Location</label>
                                    <span data-bind="text: PropertyAddress"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-top:5px;">
                                    <label class="control-label">Target Rent</label> $<span data-bind="numeric: TargetRent"></span>
                                </div>
                            </div>
                        </div>
                    </div> <!--panel body-->
                </div> <!--panel-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Number of Tenants <span style="color:red;">*</span></label>
                            <input class="form-control" type="text" data-bind="value: Model.TenantsCount, valueUpdate:'afterkeydown'" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Note <span style="color:red;">*</span></label>

                            <textarea class="form-control" rows="5" style="height:123px;" data-bind="value: Model.Note, valueUpdate:'afterkeydown'"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("_MediaInput")
                        <div class="form-group">
                            <p class="text-muted" style="font-size:11px; text-align : left">You may upload up to 5 files. Max size is 2 MB each and supported file types are *.jpg, *.jpeg, *.png, *.gif, *.pdf & *.doc*</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center" style="padding-bottom: 30px">
                        <button type="button" class="btn btn-primary" data-bind="click: $root.SubmitApp, enable : IsValid">Submit</button>
                        <button type="button" id="submit" class="btn btn-danger" data-dismiss="modal" data-bind="click: $root.ShowMain">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div data-bind="visible : TenantInfoView" style="display:none;">
    <div style="width : 80%; margin : auto">
        <div class="block-header page-title">
            <h3>Please add your details to continue</h3>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div style="width : 90%; margin : auto">
                    <button class="btn btn-group btn-info" data-bind="click : $root.ShowMain">Back to Previous Page</button>
                </div>
            </div>
        </div>
        <br />
    </div>
    <form class="step-form" style="margin-bottom:20px" data-bind="with : TenantInfo">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Date of Birth <span style="color:red;">*</span></label>
                        <input type="text" id="DOB" style="padding-left:10px" class="form-control" name="DateOfBirth" placeholder="&nbsp mm/dd/yyyy"
                               data-bind="datePicker : Model.DateOfBirth, dateTimePickerOptions : {format: 'DD/MM/YYYY', maxDate: new Date(), useCurrent : false}" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Home Phone Number<span style="color:red"></span></label>
                        <input class="form-control" type="text" data-bind="value: Model.HomePhoneNumber, valueUpdate:'afterkeydown'" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Mobile Phone Number<span style="color:red"></span></label>
                        <input class="form-control" type="text" data-bind="value: Model.MobilePhoneNumber, valueUpdate:'afterkeydown'" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Current Address<span style="color:red"></span></label>
                        <input class="form-control" type="text" data-bind="value : AddressField, addressAutocomplete : Model.Address, valueUpdate:'afterkeydown'" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Please upload your photos here<span style="color:red;"></span></label>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="height:150px">
                                <div data-bind="if:ImgData">
                                    <div class="col-md-2 col-sm-3 col-xs-4">
                                        <div class="thumbnail">
                                            <a data-bind="removeFile : Model.PhotoFile, display : ImgData, element : 'file-upload'">
                                                <i class="zmdi zmdi-close-circle" style="float:right"></i>
                                            </a>
                                            <img class="img-responsive" data-bind="attr: {src: ImgData}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn btn-success">
                        <span class="fa fa-cloud-upload"></span>
                        Choose Files
                        <input type="file" id="file-upload" class="key-upload" data-bind="uploadFile : Model.PhotoFile, display : ImgData, validFileTypes : validFileTypes" accept="image/*" />
                    </div>
                    <div class="form-group">
                        <p class="text-muted" style="font-size:11px; text-align : left">Max size is 2 MB and supported file types are *.jpg, *.jpeg, *.png, & *.gif</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-success" data-bind="enable : IsValid , click: $root.SubmitTenantInfo">Submit</button>
                    <button class="btn btn-group btn-danger" data-bind="click:$root.ShowMain">Close</button>
                </div>
            </div>
        </fieldset>

    </form>
</div>
@{
    string currentSort = Model.SortOrder;
    switch (currentSort)
    {
        case "Title":
            currentSort = "Title(Asc)";
            break;
        case "Title_Desc":
            currentSort = "Title (Desc)";
            break;
        case "TargetRent":
            currentSort = "Lowest Rent";
            break;
        case "TargetRent_Desc":
            currentSort = "Highest Rent";
            break;
        case "AvailableDate_Desc":
            currentSort = " Latest Available Date";
            break;
        case "AvailableDate":
            currentSort = "Earliest Available Date";
            break;
        case "ListedDate":
            currentSort = " Earliest Listed Date";
            break;
        case "ListedDate_Desc":
            currentSort = "Latest Listed Date";
            break;

        default:
            Model.SortOrder = "ListedDate_Desc";
            currentSort = "Latest Listed Date";
            break;
    }
}
@Html.AntiForgeryToken()
@section Modal{
    @{
        Html.RenderPartial("_SearchResultModal");
    }
}
@section scripts{
    <script>
        function PageViewModel(dataVm) {
            var token = $("input[name = '__RequestVerificationToken']").val();
            var self = this;
            self.valueArray = []; //contains all the location data
            self.firstValues = ko.observableArray([]);
            self.secondValues = ko.observableArray([]);
            self.thirdValues = ko.observableArray([]);
            self.selectedFirstOption = ko.observable();
            self.selectedSecondOption = ko.observable();
            self.selectedThirdOption = ko.observableArray([]);
            self.selectedPropertyTypes = ko.observableArray([]);
            self.chosenSuburbs = ko.observableArray([]);
            self.chosenPropertyTypes = ko.observableArray([]);            
            for (var key in dataVm) {
                self[key] = dataVm[key]
            }
            self.Items().forEach(function (item) {
                var addr = item.Address
                if (addr) {
                    item.StreetAddress = KeysUtils.toAddressStreet(addr);
                    item.CitySub = KeysUtils.toCitySub(addr);
                }
            });
            self.SelectedItem = ko.observable();
            self.MainView = ko.observable(true);
            self.DetailView = ko.observable(false);
            self.ApplyView = ko.observable(false);
            self.TenantInfoView = ko.observable(false);
            self.RentalApplication = ko.observable();
            self.TenantInfo = new TenantInfoVm(KeysExtendsDic.TenantInfo);
            self.ShowMain = function () {
                self.MainView(true);
                self.DetailView(false);
                self.ApplyView(false);
                self.TenantInfoView(false);
            }
            self.ShowDetails = function (data) {
                self.MainView(false);
                self.DetailView(true);
                self.ApplyView(false);
                self.TenantInfoView(false);
                self.SelectedItem(data);
            }
            self.ApplyRental = function (data) {
                var application = new EntityViewModel(KeysExtendsDic.RentalApp);
                if (self.IsUserTenant()) {
                    self.MainView(false);
                    self.DetailView(false);
                    self.TenantInfoView(false);
                    self.ApplyView(true);
                }
                else {
                    self.MainView(false);
                    self.DetailView(false);
                    self.ApplyView(false);
                    self.TenantInfoView(true);
                }
                self.SelectedItem(data);
                application.Model.RentalListingId = data.Id();                
                application.Model.PropertyId = data.PropertyId();                
                application.Model.ApplicationStatusId = 1;
                self.RentalApplication(application);
            }
            self.RemoveFile = function (data) {
                self.RentalApplication().RemoveFile(data);
            }
            self.SubmitApp = function (data) {
                var formData = KeysUtils.toData(data.Model);                
                $.ajax({
                    type: 'POST',
                    url: '/Rental/Home/AddRentalApplication',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (result) {                        
                        if (result.Success) {
                            KeysUtils.notification.show('<p>Application submitted successfully!</p>', 'notice', KeysUtils.reload);
                            self.toMain();
                        }
                        else {
                            KeysUtils.notification.show('<p>Something went wrong please try again later!</p>', 'error');
                        }
                    }
                });
            }
            self.SubmitTenantInfo = function (data) {
                var formData = KeysUtils.toData(data.Model);
                formData.append("__RequestVerificationToken", token);
                //for (var pair of formData.entries()) {
                //    console.log(pair[0] + ', ' + pair[1]);
                //}
                $.ajax({
                    type: 'POST',
                    url: '/Tenants/Home/Onboarding',
                    data: formData,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result.Success) {
                            self.MainView(false);
                            self.DetailView(false);
                            sel.TenantInfoView(false);
                            self.ApplyView(true);
                        }
                        else {
                            KeysUtils.notification.show('<p>Something went wrong please try again later!</p>', 'error');
                        }
                    }
                });
            }
            self.HasMapData = ko.computed(function () {
                var item = self.SelectedItem();
                if (!item) return false;
                return item.Address.Latitude && item.Address.Longitude;
            });
            self.AddToWatchList = function (data) {
                debugger;
                var Id = data.Id();
                self.Items().forEach(function (item) {
                    if (Id == item.Id()) {
                        item.WatchListText("Watching");
                    }
                });
                debugger;
                $.ajax({
                    type: "POST",
                    url: '/Personal/Watchlist/SaveToWatchlist',
                    data: { Id: Id, ItemType: 1 },
                    success: function (response) {
                        var id = response.Id;
                        KeysUtils.notification.show('<p>Property successfully added to your Watchlist!</p>', 'notice');
                    }
                });
            }
        }
        function TenantInfoVm(dic) {
            var self = this;
            self.validFileTypes = ["image/jpeg", "image/png", "image/gif"];
            self.Model = new Entity(dic);
            self.Model.PhotoFile = ko.observable();
            self.ImgData = ko.observable();
            self.Model.DateOfBirth = ko.observable().extend({
                date: true,
                required: {
                    params: true,
                    message: "Please enter a date."
                }
            });
            self.Model.Address = new AddressViewModel();
            self.AddressField = ko.observable().extend({
                required: {
                    params: true,
                    message: "Please enter address."
                }
            });
            self.Errors = ko.validation.group([self.Model, self.AddressField], { deep: true });
            self.IsValid = ko.computed(function () {
                return self.Errors().length == 0;
            });
        }
        $(document).ready(function () {
            $("#NoRecord").modal("show");
            var dataVm = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
            var vm = new PageViewModel(dataVm);
            var suburbList = dataVm.Address.SuburbList();
            var propertyTypeList = dataVm.PropertyType();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                contentType: "text/json",
                url: "https://api.trademe.co.nz/v1/Localities.json",
                data:
                    {
                        region_id: 1,
                        with_counts: true,
                        listing_type: "houses_to_buy"
                    },
                success: function (response) {
                    vm.valueArray = response;

                    for (let i in vm.valueArray) {
                        vm.firstValues.push(vm.valueArray[i].Name)
                    };
                    vm.selectedFirstOption(dataVm.Address.Region());
                    //alert(self.valueArray());
                },
                error: function () {
                    console.log("There has been an error retrieving the values from the database.");
                }
            });
            vm.selectedFirstOption.subscribe(function (value) {
                vm.secondValues([]);
                var obj = vm.valueArray.find(o => o.Name === value);
                if (obj) {
                    for (let i in obj.Districts) {
                        //alert(obj.Districts[i].Name);
                        vm.secondValues.push(obj.Districts[i].Name);
                    };
                    vm.selectedSecondOption(dataVm.Address.District());
                }
            });

            vm.selectedSecondOption.subscribe(function (value) {
                if (value != null) {
                    vm.thirdValues([]);
                    var region = vm.valueArray.find(o => o.Name === ko.utils.unwrapObservable(vm.selectedFirstOption));
                    var obj = region.Districts.find(o => o.Name === value);
                    if (obj) {
                        for (let i in obj.Suburbs) {
                            //alert(obj.Suburbs[i].Name);
                            vm.thirdValues.push(obj.Suburbs[i].Name);
                        };
                        for (let i in suburbList) {
                            vm.chosenSuburbs.push(suburbList[i]);
                        }
                    }
                }
            });

            for (let i in propertyTypeList) {
                vm.chosenPropertyTypes.push(propertyTypeList[i]);
            }




            ko.applyBindings(vm);
        });
    </script>
}

<script type="text/template" id="fiter-select">

    <select class="form-control" onChange='location.href = this.value'>
        <option selected disabled hidden>@currentSort</option>
        <option value="@Url.Action("AdvanceSearchResult",new { sortOrder = "Title", currentFilter = ViewBag.CurrentFilter })">
            Title (Asc)
        </option>
        <option value="@Url.Action("AdvanceSearchResult",new { sortOrder = "Title_Desc", currentFilter = ViewBag.CurrentFilter })">
            Title (Desc)
        </option>
        <option value="@Url.Action("AdvanceSearchResult",new { sortOrder = "TargetRent", currentFilter = ViewBag.CurrentFilter })">
            Lowest Rent
        </option>
        <option value="@Url.Action("AdvanceSearchResult", new { sortOrder = "TargetRent_Desc", currentFilter = ViewBag.CurrentFilter })">
            Highest Rent
        </option>
        <option value="@Url.Action("AdvanceSearchResult", new { sortOrder = "AvailableDate", currentFilter = ViewBag.CurrentFilter })">
            Earliest Available Date
        </option>
        <option value="@Url.Action("AdvanceSearchResult", new { sortOrder = "AvailableDate_Desc", currentFilter = ViewBag.CurrentFilter })">
            Latest Available Date
        </option>
        <option value="@Url.Action("AdvanceSearchResult", new { sortOrder = "ListedDate", currentFilter = ViewBag.CurrentFilter })">
            Earliest Listed Date
        </option>
        <option value="@Url.Action("AdvanceSearchResult", new { sortOrder = "ListedDate_Desc", currentFilter = ViewBag.CurrentFilter })">
            Latest Listed Date
        </option>
    </select>
</script>