@model KeysPlus.Service.Models.PropDataModel
@{
    ViewBag.Title = "Add New Tenant";
}
<div style="width : 100%; margin : auto">
    <h3>Add Tenant  </h3>
    <h4 class="pointer-cursor" onclick="location.href='@ViewBag.ReturnUrl'"><a class="pointer-cursor ui top-left-corner">Back To Properties</a></h4>
</div>
<br />

    
        <form id="msform" class="step-form">
            <div class="ui two column centered grid">
                    <div class="column">
                        <div class="ui steps">
                            <div id="tenantDetails" class="active step">
                                <i class="address card icon"></i>
                                <div class="content">
                                    <div class="title">Tenant Details</div>
                                </div>
                            </div>
                            <div id="liabilities" class="step">
                                <i class="credit card outline icon"></i>
                                <div class="content">
                                    <div class="title">Liabilities Details</div>
                                </div>
                            </div>
                            <div id="summary" class="disabled step">
                                <i class="file alternate outline icon"></i>
                                <div class="content">
                                    <div class="title">Summary</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br/>
            <br/>
                @*<ul id="progressbar">
                <li id="tenantDetails" class="active">Tenant Details</li>
                <li id="liabilities">Liabilities Details</li>
                <li id="summary">Summary</li>
            </ul>*@
                <div id="BasicDetail" class="ui raised segment">
                    <div class="ui one column centered grid">

                        <div class="column">

                            <label>Select Property <span style="color:red;">*</span></label>
                            <select class="ui fluid selection dropdown" data-bind="options :Properties, optionsText : 'AddressString', value : SelectedProp">
                                @foreach (var prop in Model.Properties)
                                {
                                    <option value="@prop.Id">@prop.AddressString</option>
                                }
                            </select>

                        </div>

                        <div class="two column row">
                            <div class="column">
                                <div class="ui form">
                                    <label>Tenant Email <span style="color:red;">*</span></label>
                                    <input name="Email" placeholder="Tenant Email" type="text" data-bind="value:TenantEmail,valueUpdate:'afterkeydown', event : {change : CheckTenant}" />
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <label>Is Main Tenant <span style="color:red;">*</span></label>
                                    <select data-bind="value : IsMainTenant">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="two column row">
                            <div class="column">
                                <div class="ui form">
                                    <label>First Name <span style="color:red;">*</span></label>
                                    <input placeholder="First Name" type="text" data-bind="value : FirstName, valueUpdate:'afterkeydown', disable : TenantExist" />
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <label>Last Name <span style="color:red;">*</span></label>
                                    <input placeholder="Last Name" type="text" data-bind="value : LastName, valueUpdate:'afterkeydown', disable : TenantExist" />
                                </div>
                            </div>
                        </div>

                        <div class="two column row">
                            <div class="column">
                                <div class="ui form">
                                    <label>Rent Start Date <span style="color:red;">*</span></label>
                                    <input name="StartDate" placeholder="Rent Start Date" type="text" data-bind="datePicker : StartDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" />
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <label>Rent End Date </label>
                                    <input name="EndDate" placeholder="Rent End Date" type="text" data-bind="datePicker : EndDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" />
                                </div>
                            </div>
                        </div>

                        <div class="two column row">
                            <div class="column">
                                <div class="ui form">
                                    <label>Rent Amount <span style="color:red;">*</span></label>
                                    <input name="RentAmount" placeholder="Rent Amount" type="text" data-bind="value: RentAmount,trimTo2dp, valueUpdate:'afterkeydown'" />
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <label>Payment Frequency <span style="color:red;">*</span></label>
                                    <select style="padding-left:8px" name="paymentfrequency" data-bind="value: RentFrequency">
                                        @foreach (var freq in ViewBag.Frequencies)
                                        {
                                            <option value="@freq.Id">@freq.Code</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="two column row">
                            <div class="column">
                                <div class="ui form">
                                    <label>Payment Start Date <span style="color:red;">*</span></label>
                                    <input placeholder="Payment Start Date" type="text" data-bind="datePicker : PaymentStartDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" />
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui form">
                                    <label>Payment Due Date <span style="color:red;">*</span></label>
                                    <select data-bind="options : DueDateOptions, value : PaymentDueDate"></select>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="two column row">
                            <div class="column">
                                <div class="col-sm-12 text-center" style="padding-bottom: 30px">
                                    <input type="button" class="ui green button" value="Next" data-bind="click:gotoLiability,enable:basicValid" />
                                    <input type="button" class="ui red button" value="Cancel" onclick="location.href='@ViewBag.ReturnUrl'" />
                                </div>
                            </div><!--column-->
                        </div><!--row-->
                    </div>
                </div>
                <div id="LiabilityDetail" class="ui raised segment" style="display:none">
                    <div class="ui one column centered grid">
                        <div class="column">
                            <div>
                                <table class="table-financial table-properties property-projections table">
                                    <thead>
                                        <tr>
                                            <th>Liability Name</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: LiabilityValues">
                                        <tr data-bind="template:{name : $parent.LiabilityValueDisplay($data)}"></tr>
                                    </tbody>
                                </table>
                                <p></p>
                                <a class="button-link" style="color: #337ab7" data-bind="click : AddLiabilityValues"><i class="plus circle icon"></i> Add New Liability</a>
                            </div>
                        </div>


                        <br />
                        <div class="six wide column" style="padding-bottom: 30px" align="center">
                            <button class="ui green button" data-bind="click:gotoBasic">Previous</button>
                            <button class="ui green button" data-bind="click:gotoSummary">Next</button>
                            <input type="button" class="ui red button" value="Cancel" onclick="location.href='@ViewBag.ReturnUrl'" />
                        </div>

                    </div><!--row-->
                </div>
                <div id="SummaryDetail" class="ui raised segment" style="display:none">
                    <div class="ui one column centered grid">
                        <div class="column">
                            <span class="title-header">
                                Tenant Details
                            </span>
                        </div>
                    </div>
                    <div class="ui one column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>Property</label>
                                <select class="form-control" data-bind="options :Properties, optionsText : 'AddressString', value : SelectedProp" disabled>
                                    @foreach (var prop in Model.Properties)
                                    {
                                        <option value="@prop.Id">@prop.AddressString</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>Tenant Email</label>
                                <input name="Email" class="form-control" type="text" data-bind="value:TenantEmail,valueUpdate:'afterkeydown'" disabled />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Is Main Tenant <span style="color:red;">*</span></label>
                                <select class="form-control" data-bind="value : IsMainTenant" disabled>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>First Name <span style="color:red;">*</span></label>
                                <input class="form-control" type="text" data-bind="value : FirstName" disabled />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Last Name <span style="color:red;">*</span></label>
                                <input name="EndDate" class="form-control" type="text" data-bind="value : LastName" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>Rent Start Date </label>
                                <input name="StartDate" class="form-control" type="text" data-bind="datePicker : StartDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" disabled />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Rent End Date </label>
                                <input name="EndDate" class="form-control" type="text" data-bind="datePicker : EndDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>Rent Amount </label>
                                <input name="RentAmount" class="form-control" type="text" data-bind="value: RentAmount,trimTo2dp, valueUpdate:'afterkeydown'" disabled />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Payment Frequency </label>
                                <select class="form-control" style="padding-left:8px" name="paymentfrequency" data-bind="value: RentFrequency" disabled>
                                    @foreach (var freq in ViewBag.Frequencies)
                                    {
                                        <option value="@freq.Id">@freq.Code</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="ui two column centered grid">
                        <div class="column">
                            <div class="form-group">
                                <label>Payment Start Date <span style="color:red;">*</span></label>
                                <input class="form-control" type="text" data-bind="datePicker : PaymentStartDate, dateTimePickerOptions : {format: 'DD/MM/YYYY'}" disabled />
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label>Payment Due Date <span style="color:red;">*</span></label>
                                <select class="form-control" data-bind="options : DueDateOptions, value : PaymentDueDate" disabled></select>
                            </div>
                        </div>
                    </div>
                    <div class="ui one column centered grid">
                        <div class="column">
                            <span class="title-header">
                                Liabilities
                            </span>
                        </div>
                    </div>
                    <div class="ui one column centered grid">
                        <div class="column">
                            <table class="table-financial table-properties property-projections table">
                                <thead>
                                    <tr>
                                        <th>Liability Name</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: LiabilityValues">
                                    <tr data-bind="template:{name : $parent.showSummaryTable}"></tr>
                                </tbody>
                            </table>
                            <p></p>
                        </div>
                    </div>

                    <br />
                    <div class="ui one column centered grid">
                        <div class="six wide column" style="padding-bottom: 30px">
                            <button class="ui green button" data-bind="click:backtoLiability">Previous</button>
                            <button class="ui green button" data-bind="click:AddTenantToProperty">Submit</button>
                            @*<input type="button" class="ui red button" value="Cancel" onclick="location.href='@Url.Action("DashBoard", "Home")'" />*@
                            <input type="button" class="ui red button" value="Cancel" onclick="location.href='@ViewBag.ReturnUrl'" />
                        </div>
                    </div><!--row-->
                </div>
</form>
   


<script type="text/template" id="displayLiabilityValue">
    <td class="col-md-3">
        <span data-bind="text : ValueType"></span>
    </td>
    <td class="col-md-3">
        <span data-bind="text : Value"></span>
    </td>
    <td class="col-md-3">
        <span title="Edit" class="btn-default" data-bind="click : $parent.EditLiabilityValue"><i class="glyphicon glyphicon-edit"></i></span>
    </td>
</script>
<script type="text/template" id="displaySummaryTable">
    <td class="col-md-6">
        <span data-bind="text : ValueType"></span>
    </td>
    <td class="col-md-6">
        <span data-bind="text : Value"></span>
    </td>
</script>
<script type="text/template" id="newLiabilityValue">
    <td class="col-md-3">
        <select class="form-control" data-bind="value : TypeId">
            <option value="1">Bond</option>
            <option value="2">Insurance</option>
            <option value="3">Letting Fee</option>
            <option value="4">Body Corp</option>
        </select>
    </td>
    <td class="col-md-3">
        <input class="form-control" type="text" data-bind="value : Value, trimTo2dp, valueUpdate:'afterkeydown'" />
    </td>

    <td class="col-md-3">
        <input type="button" class="ui primary button" data-bind="click : $parent.AddtoLList, enable : IsValid" value="Save"/>
        <button class="ui teal button" data-bind="click : $parent.CancelEditLiabilityValue">Cancel</button>
        <button class="ui red button" data-bind="visible : !IsNew(),click : $parent.DeleteLiabilityValue">Delete</button>
    </td>
</script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/Globals/Onboarding.js"></script>
<script src="~/Scripts/PropertyOwners/Home/AddTenantDashBoard.js"></script>
<script>
    $(document).ready(function () {
        var propData = @Html.Raw(Json.Encode(Model.Properties));
        var viewModel = new PropertyTenants(null,propData);
        ko.applyBindings(viewModel);
        
    });

</script>